* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

/* REGOLE RICORRENTI */

/* strutturali */
.container_lg {
  max-width: 1170px;
  margin: 0 auto;
}

.cinta_nove {
  width: 95%;
  margin: auto;
}

.cinta_otto {
  width: 85%;
  margin: auto;
}

.cinta_sette {
  width: 75%;
  margin: auto;
}

/* regole flex */
.flex {
  display: flex;
}

.fbet {
  justify-content: space-between;
}

.itemcenter {
  align-items: center;
}

/* colore di sfondo */
.back_white {
  background-color: white;
}

.back_grey {
  background-color: #F3F5F9;
}

.back_blue {
  background-image: linear-gradient(to bottom, #0800c2, #0b00b1, #0d01a0, #0e0190, #0e0180);
}

/* testi */
.text_white {
  color: white;
}

.text_grey {
  color: #5b6987;
}

.text_darkblue {
  color: #031b4e;
}

h2 {
  font-size: 36px;
  line-height: 39.6px;
  letter-spacing: -1px;
  color: #031b4e;
}

h3 {
  font-size: 30px;
  line-height: 34.6px;
  letter-spacing: -1px;
  color: #031b4e;
}

.small_p {
  font-size: 12px;
}

.p_nav {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.2px;
  color: rgb(3, 27, 79);
}

.p_card {
  font-size: 14px;
  line-height: 21px;
}

.p_h2 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1px;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

/* elementi specifici */
ul li {
  list-style-type: none;
  text-transform: capitalize;
}

.inline li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

a:hover {
  color: #006AFF;
  text-decoration: underline;
}

a.terms,
#collaborazioni a,
#designed a,
#features a,
#development a {
  color: #006AFF;
}

a.terms:hover,
#collaborazioni a:hover,
#designed a:hover,
#features a:hover,
#development a:hover {
  color: #0F0091;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.blue_button {
  padding: 5px;
  border-radius: 5px;
  color: #006AFF;
  font-weight: bold;
  background-color: white;
  border: solid 2px #006AFF;
  transition: 0.4s;
}

.blue_button:hover {
  color: white;
  background-color: #006AFF;
}



/* HEADER */
header {
  background-image: url(../img/jumbo.svg);
}

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

/* nav */
header nav .cinta_otto {
  height: 60px;
}

/* logo */
img.header_logo {
  height: 40px;
  padding-right: 100px;
}

/* liste */
.header_nav_list {
  width: 100%;
}

.header_nav_list li {
  padding-right: 10px;
}

/* hamburger */
header .hamburger a {
  padding: 4px;
  border: solid 2px #006AFF;
  border-radius: 5px;
  webkit-box-shadow: 0px 1px 5px 0px #006AFF;
  -moz-box-shadow: 0px 1px 5px 0px #006AFF;
  box-shadow: 0px 1px 5px 0px #006AFF;
  display: none;
}

header .hamburger a:hover {
  color: white;
  background-color: #006AFF;
}

/* jumbotron */
.jumbotron {
  padding-top: 60px;
}

.jumbotron .cinta_otto {
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* titolo */
.main_title {
  width: 55%;
}

.main_title h1 {
  font-size: 58px;
  font-weight: bold;
  line-height: 69.6px;
  vertical-align: baseline;
  letter-spacing: -1px;
}

.main_title p {
  font-size: 24px;
  line-height: 36px;
  vertical-align: baseline;
  letter-spacing: -1px;
}

/* form */
.jumbotron .form {
  width: 40%;
  border-radius: 5px;
}

.jumbotron .form {
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.form * {
  margin-bottom: 5px;
}

.jumbotron .form > h3:last-of-type {
  color: #006AFF;
}

.jumbotron .form input {
  padding: 5px;
  border: solid 1px grey;
  border-radius: 5px;
}

#crea_account {
  width: 100%;
  color: white;
  background-color: #006AFF;
}

#crea_account:hover {
  color: #006AFF;
  background-color: lightgrey;
}

#sign_google {
  position: relative;
}

#sign_google img {
  width: 20px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

/* COLLABORAZIONI */
#collaborazioni .cinta_sette {
  padding-top: 40px;
  padding-bottom: 30px;
}

#collaborazioni h6 {
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
  color: rgb(91, 105, 135)
}

.blocco_partner {
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo_partner {
  padding: 2px;
  flex-shrink: 1;
}

.logo_partner img {
  width: 100%;
}

/* SECTION DEPLOY */
#deploy {
  margin-top: 50px;
  margin-bottom: 50px
}

#deploy h2 {
  margin-bottom: 10px;
}

/* ul */
#deploy ul {
  margin-top: 10px;
}

#deploy ul li {
  padding-left: 10px;
  line-height: 40px;
  border-left: solid 2px lightgrey;
}

#deploy ul li:hover {
  border-left: solid 2px #006AFF;
}

#deploy ul li a:hover {
  color: black;
}

/* blocco deploy */
.blocco_deploy {
  margin-top: 50px;
}

/* blocco card */
.blocco_card {
  width: 67%;
}

.blocco_card {
  flex-wrap: wrap;
}

.card {
  width: 46%;
  margin-bottom: 25px;
}

.card img {
  margin-bottom: 10px;
}

/*  SECTION DESIGNED */

/* carousel */
.blocco_carousel {
  width: 60%;
  margin: auto;
}

.screen, .screen img {
  width: 100%;
  height: auto;
}

.blocco_carousel {
  position: relative;
}

/* frecce carousel */
.big_arrow_left {
  position: absolute;
  top: 50%; left: -10%;
  transform: translateY(-50%);
  font-size: 45px;
  color: #5b6987;
}

.big_arrow_right {
  position: absolute;
  top: 50%; right: -10%;
  transform: translateY(-50%);
  font-size: 45px;
  color: #5b6987;
}

.big_arrow_left:hover,
.big_arrow_right:hover {
  color: black;
  cursor: pointer;
}

.screen_foot p {
    font-weight: bold;
    margin-bottom: 10px;
}
